@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html {
  // @todo may use cover image as background to include textured logo bg.
  //background: url(/img/shubot-mission-control-high.png) no-repeat center center fixed;
  //@include background-size(cover);
  background: #F1F1F2 no-repeat;
}

$shubot-logo-height: 150px;
$shubot-logo-width: 500px;
$shubot-logo-margin-bottom: 25px;

$ctrl-panel-arrow-height: 58px / 2;
$ctrl-panel-arrow-width: 107px / 2;
// @note left & right positions must account for transformation (difference between halfBefore - halfAfter * -1)
$ctrl-panel-arrow-left-right-position: -($ctrl-panel-arrow-width / 2 - $ctrl-panel-arrow-height / 2);
$ctrl-panel-arrow-hover-movement: 1px;
$ctrl-panel-arrow-active-movement: 2px;

$shubot-ctrl-panel-height: $ctrl-panel-arrow-height + ($ctrl-panel-arrow-width * 2);
$shubot-ctrl-panel-width: $shubot-ctrl-panel-height;

$shubot-container-height: $shubot-logo-height + $shubot-ctrl-panel-height;
$shubot-container-width: $shubot-logo-width;

.shubot-container {
    height: $shubot-container-height;
    width: $shubot-container-width;

    // For centering in page.
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -($shubot-container-height / 2);
    margin-left: -($shubot-container-width / 2);
}

.shubot-logo {
    height: $shubot-logo-height;
    width: $shubot-logo-width;
    margin-bottom: $shubot-logo-margin-bottom;
}

.shubot-ctrl-panel {
    height: $shubot-ctrl-panel-height;
    width: $shubot-ctrl-panel-width;
    position: fixed;
}
.shubot-ctrl-panel--center {
    // For centering within box.
    left: 50%;
    margin-left: -($shubot-ctrl-panel-width / 2);
}

.ctrl-panel-arrow {
    background: url(http://i.imgur.com/9XmMcHm.png) no-repeat center center;
    @include background-size(contain);
    height: $ctrl-panel-arrow-height;
    width: $ctrl-panel-arrow-width;
    position: absolute;
    border: 0;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}
.ctrl-panel-arrow--left,
.ctrl-panel-arrow--right {
    top: 50%;
    margin-top: -($ctrl-panel-arrow-height / 2);
}
.ctrl-panel-arrow--left {
    @include transform(rotate(270deg));
    left: $ctrl-panel-arrow-left-right-position;

    &:hover {
        left: $ctrl-panel-arrow-left-right-position + $ctrl-panel-arrow-hover-movement;
    }
    &:active,
    &.ctrl-panel-arrow-active {
        left: $ctrl-panel-arrow-left-right-position + $ctrl-panel-arrow-active-movement;
    }
}
.ctrl-panel-arrow--right {
    @include transform(rotate(90deg));
    right: $ctrl-panel-arrow-left-right-position;
    &:hover {
        right: $ctrl-panel-arrow-left-right-position + $ctrl-panel-arrow-hover-movement;
    }
    &:active,
    &.ctrl-panel-arrow-active {
        right: $ctrl-panel-arrow-left-right-position + $ctrl-panel-arrow-active-movement;
    }
}
.ctrl-panel-arrow--forward,
.ctrl-panel-arrow--stop {
    left: 50%;
    margin-left: -($ctrl-panel-arrow-width / 2);
}
.ctrl-panel-arrow--forward {
    // @note forward variation is rotated 0deg so no need for a rule about that.
    &:hover {
        top: $ctrl-panel-arrow-hover-movement;
    }
    &:active,
    &.ctrl-panel-arrow-active {
        top: $ctrl-panel-arrow-active-movement;
    }
}
.ctrl-panel-arrow--stop {
    @include transform(rotate(180deg));
    bottom: 0;

    &:hover {
        bottom: $ctrl-panel-arrow-hover-movement;
    }
    &:active,
    &.ctrl-panel-arrow-active {
        bottom: $ctrl-panel-arrow-active-movement;
    }
}
